html {
    font-size: 17px;
}

body {
    background-color: #1D242A;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo";
    color: #8694A2;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #BADEFC;
}

.brand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



h1 {
    color: #FFFFFF;
    font-family: "Archivo Black";
    font-size: 3vw;
    margin: 0;
}

h2 {
    color: #BADEFC;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 200;
    border-bottom: 1px solid #BADEFC;
}

h3, .rating {
    color: #7B8996;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0
}



.rating {
    font-size: 11px;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 20px; /* Set minimum font size for smaller screens */
    }
}

@media screen and (min-width: 1200px) {
    h1 {
       font-size: 40px;
    }
}

.logo {
    height: 3vw;
    min-height: 30px;

}


nav {
    background-color: #14181C;
    display: flex;
    justify-content: center;
    height: 80px;
}

.navbar {
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-family: "Kanit";    
    font-size: 20px;
}

.menu a:hover {
    color: #BADEFC;
}

.menu li {
    margin-right: 15px;
}

.user-arrow {
    margin-left: 5px;
}

.current-user a {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.current-user img {
    height: 20px;       
    width: auto;
    margin-right: 5px;
    border-radius: 50%;
}


.menu a {
    color: #FFFFFF;
}

.log-button{
    white-space: nowrap;
    background-color: #27AD24;
    padding: 0 5px 0 5px;
}

.welcome-message {
    font-size: 20px;
    text-align: center;
}

.welcome-message span {
    color: #FFFFFF;
    font-weight: bold;
}

.content-wrap {
    margin: 0 auto;
    width: 50%;
    min-width: 1100px;
}

.game-posters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.game-poster {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.game-img {
    max-width: 100%;
    width: 170px;
    height: 230px;
    margin-bottom: 0px;
    outline: 2px solid transparent;
    outline-offset: -1px;
    border-radius: 4px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5)
}

.game-poster:hover .game-img{
    transition: outline 0.3s ease; 
    outline-color: #FFFFFF;
}

.game-poster:hover h3, .game-poster:hover .rating {
    color: #FFFFFF;
}

.game-poster span {
    margin: 0;
    max-width: 150px;
}

.game-name-rating {
    width: 100%;
    max-height: 24.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
}

.games-section {
    margin-bottom: 40px;
}


.reviews-container {
    column-count: 2;
    column-gap: 20px;
}

.review {
    break-inside: avoid;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: #2C3440 solid 1px;
}

.review-img-details {
    display: flex;
}

.review-poster {
    height: 150px;
    margin-right: 10px;
}

.review-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

.review-user {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 1.2;
}

.review-user p {
    margin: 0;
}

.review-user img {
    height: 15px;       
    width: auto;
    margin-right: 5px;
    border-radius: 50%;
}

.review-title-and-year {
    display: flex;
    justify-content: center;
    align-items: middle;
    white-space: nowrap;
    line-height: 1.2;
}

.review-title, .review-year {
    margin: 0;
}

.review-title {
    font-size: 30px;
    font-weight: 600;
    margin-right: 5px;
    padding-top: 0;
    color: #FFFFFF;
}

.review-year {
    padding-top: 3px;
    font-size: 28px;
    font-weight: 100;
    color: #C0C0C0;
}

.review-platform, .review-rating {
    line-height: 1.2;
}

.review-text {
    font-size: 15px;
}

.review-options {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.review-option p {
    color: #CCCCCC
}


.review-like-share, .review-likes, .review-comments a {
    display: flex;
    align-items: center;
}

.review-likes {
    margin-right: 10px;
}

footer {
    height: 100px;
    background-color: #14181C;
    position: relative;
}

.personal-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}