.lp-header {
    text-align: center;
}

.lp-header h1 {
    font-size: 60px;
}

.lp-header p {
    font-size: 20px;
}

.lp-reg-log {
    margin: 20px 0;
}

.lp-register-btn {
    background-color: #606C38;
    color: #FFFFFF;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    margin: 5px auto 0;
    cursor: pointer;
}

.lp-register-btn:hover {
    background-color: #748342;
}

.lp-hero {
    border: none;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}

.lp-main h3 {
    font-size: 25px;
    color: #d7d7d7;
}

.lp-main p {
    font-size: 16px;
}

.lp-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.lp-text {
    width: 40%;
}

.lp-section img {
    width: 525px;
    height: 234px;
}

.gaming-database-img {
    width: 587px !important;
    height: 326px !important;
    float: left;
}

.user-review-img {
    width: 510px !important;
    height: 206px !important;
}