{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrap">
        <div class="lp-header">
            <h1>Chronicled</h1>
            <p>Keep track of your gaming adventures! </p>
            <div class="lp-reg-log">
                <a href="{% url 'registration' %}"><div class="lp-register-btn">Create an account</div></a>
                <span> or <a href="{% url 'login' %}">login</a></span>
            </div>
        </div>
        <div class="lp-main">
            <h2 class="lp-hero">How Chronicled works</h2>
            <div class="lp-section">
                <div class="lp-text">
                    <h3>Explore the latest trending games!</h3>
                    <p>Dive into the world of gaming excitement with our curated selection of trending games! Stay up-to-date with the hottest titles that everyone is talking about. Whether you're into action-packed adventures, immersive role-playing experiences, or mind-bending puzzles, we have something for every gamer. Discover the pulse of the gaming community and embark on unforgettable gaming journeys today!</p>
                </div>
                <img src="{% static 'images/trending-games.png' %}" alt="Trending games">
            </div>
            <div class="lp-section">
                <img src="{% static 'images/log.png' %}" class="gaming-database-img" alt="Game info">
                <div class="lp-text">
                    <h3>Log your games</h3>
                    <p>Access a comprehensive gaming database to log your favorite games. Find detailed information covering gameplay mechanics, developer insights, and player reviews. Whether you're a seasoned gamer seeking new challenges or a newcomer exploring the gaming landscape, our platform provides valuable insights to enrich your gaming experience. Dive in and effortlessly log your gaming history with ease.</p>
                </div>
            </div>
            <div class="lp-section">
                <div class="lp-text">
                    <h3>Read other user's reviews</h3>
                    <p>Discover user feedback for your favorite games. Dive into gameplay insights, developer perspectives, and player opinions. Whether you're a seasoned gamer or new to the scene, find valuable insights to enhance your gaming experience. Explore now.</p>
                </div>
                <img src="{% static 'images/review.png' %}" class="user-review-img" alt="Trending games">
            </div>
        </div>
    </div>
{% endblock %}