{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="review-container large-frame">
    <h2>Log</h2>
    <div class="inner-review-container">
        <img class="review-img" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ log.game.cover_id }}.jpg" alt="">
        <div class="review-and-comments">
            <div class="game-review-container">
                <img class="game-review-img" src="{% static "images/profile-pic.jpg" %}" alt="">
                <div class="game-review-main">
                    <p>
                        <a href="#">{{ log.user.username }}</a> logged {{ log.game.name }}
                        
                    </p>
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                    <p>
                        Played on <span class="key-word">{{ log.get_platform_name }}</span>
                    </p>
                    <p>
                        {{ log.review_text }}
                    </p>
                    <div class="review-options">
                        <div class="review-like-share">
                            <a href="#">
                                <div class="review-likes">
                                    <i class="fa-regular fa-heart fa-sm"></i>
                                    <p>10 Likes</p>
                                </div>
                            </a>
                        </div>
                        <p>Reviewed on {{ log.date_posted }}</p>
                    </div>
                    </div>    
            </div>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.text }}
                <button class="button">Comment</button>
            </form>
            <h2>10 Comments</h2>
            {% for comment in comments %}
            <div class="review-comment">
                <img class="game-review-img" src="{% static "images/profile-pic.jpg" %}" alt="">
                <div class="game-review-main">
                    <p>{{ comment.user.username }}</p>
                    <p>{{ comment.text }}</p>
                    <div class="review-options">
                        <div class="review-like-share">
                            <a href="#">
                                <div class="review-likes">
                                    <i class="fa-regular fa-heart fa-sm"></i>
                                    <p>10 Likes</p>
                                </div>
                            </a>
                        </div>
                        <p>Commented on {{ comment.date_time_posted }}</p>
                    </div>
                </div>    
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}