{% extends "base.html" %}
{% block content %}
{% load custom_filters %}

<div class="form-container large-frame">
    <h2>Edit log</h2>
    <div class="create-log-container">
        <div class="create-log-left-side">
            <img class="create-log-img" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ cover_id }}.jpg" alt="">
        </div>
        <div class="create-log-right-side">
            <p>I played {{ name }}...</p>
            <form method="post">
                {% csrf_token %}
                {{ form.rating|placeholder:'Rating' }}
                {{ form.review_text|placeholder:'Leave a review...' }}
                {{ form.platform_id }}
                <div class="checkbox-container">
                    <div class="checkbox-item">
                        {{ form.completed }} <span>Completed?</span>
                    </div>
                    <div class="checkbox-item">
                        {{ form.first_time }} <span>First time?</span>
                    </div>
                </div>
                <button class="button" type="submit">Edit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}