{% extends 'base.html' %}
{% block content %}
    <div class="content-wrap tc">
        <h1>Terms and Conditions</h1>

        <h2>1. Introduction</h2>
        <p>These terms and conditions govern your use of our website; by using our website, you accept these terms and
            conditions in full. If you disagree with these terms and conditions or any part of these terms and
            conditions,
            you must not use our website.</p>

        <h2>2. Intellectual Property Rights</h2>
        <p>Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material
            on
            the website. Subject to the license below, all these intellectual property rights are reserved.</p>

        <h2>3. License to Use Website</h2>
        <p>You may view, download for caching purposes only, and print pages from the website for your own personal use,
            subject to the restrictions set out below and elsewhere in these terms and conditions.</p>

        <h2>4. Restrictions</h2>
        <p>You must not:</p>
        <ul>
            <li>Republish material from this website (including republication on another website);</li>
            <li>Sell, rent or sub-license material from the website;</li>
            <li>Show any material from the website in public;</li>
            <li>Reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose;</li>
            <li>Edit or otherwise modify any material on the website; or</li>
            <li>Redistribute material from this website except for content specifically and expressly made available for
                redistribution.
            </li>
        </ul>

        <h2>5. Acceptable Use</h2>
        <p>You must not use our website in any way that causes, or may cause, damage to the website or impairment of the
            availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or
            harmful,
            or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>

        <h2>6. Variation</h2>
        <p>We may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the
            use of
            our website from the date of the publication of the revised terms and conditions on our website. Please
            check
            this page regularly to ensure you are familiar with the current version.</p>

        <h2>7. Entire Agreement</h2>
        <p>These terms and conditions, together with our privacy policy, constitute the entire agreement between you and
            us
            in relation to your use of our website, and supersede all previous agreements in respect of your use of this
            website.</p>

        <h2>8. Contact Information</h2>
        <p>If you have any questions about these terms and conditions, please contact us.</p>
    </div>
{% endblock %}