{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chronicled</title>

    <link rel="stylesheet" href="{% static "css/styles.css" %}" /> 
    <link rel="icon" type="image/x-icon" href="{% static "images/swords-icon.svg" %}"/> 
    <link rel="stylesheet" href="{% static "fontawesome/css/fontawesome.css" %}"> 
    <link rel="stylesheet" href="{% static "fontawesome/css/brands.css" %}"> 
    <link rel="stylesheet" href="{% static "fontawesome/css/regular.css" %}">

    <script
      src="https://kit.fontawesome.com/2c665bbf8a.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <nav>
        <div class="navbar">
          <a href="{% url "home-page" %}" class="brand-container">
            <img class="logo" src="{% static "images/swords-icon.svg" %}"
            alt="logo" />
            <h1>Chronicled</h1>
          </a>
          <ul class="menu">
            {% if not request.user.is_authenticated %}
              <li>
                <a href="{% url "login" %}">SIGN IN</a>
              </li>
              <li>
                <a href="{% url "registration" %}">CREATE ACCOUNT</a>
              </li>
            {% else %}
              <li>
                <div class="current-user">
                  <a href="#">
                    <img class="user-icon" src="/images/profile-pic.jpg" alt="" />
                    KRASIMIR
                    <img class="user-arrow" src="/images/arrow-down.svg" alt="" />
                  </a>
                </div>
              </li>
              <li>
                <a href="#">LIBRARY</a>
              </li>
              <li>
                <a href="#">JOURNAL</a>
              </li>
            {% endif %}
              <form action="{% url "search" %}" method="get">
                <input class="search-bar" type="text id" name="q" placeholder="Search..." >
              </form>

            </ul>
            <li class="hamburger-icon">
              <i class="fa-solid fa-bars"></i>
            </li>
          

        </div>
      </nav>
    </header>

    <main>

        {% block content %}
        {% endblock content %}
    
    </main>
    <footer>
      <div class="content-wrap">
        <div class="personal-information">
          <p>Created by Krasimir Hristov</p>
          <div class="socials">
            <a href="#">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>