{% extends "base.html" %}
{% block content %}
{% load custom_filters %}

    <div class="form-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.username|placeholder:'Username' }}
            {{ form.password|placeholder:'Password' }}
            <div class="checkbox-container remember-me">
                {{ form.remember_me }}       
                {{ form.remember_me.label }}
            </div>
            <button class="button" type="submit">Login</button>    
        </form>
        <p><a href="#">New user? Sign up here.</a></p>
        <p><a href="#">Forgot password? Click here.</a></p>
    </div>

{% endblock content %}