{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}


    <div class="content-wrap">
        <div class="profile-header">
            <div class="profile-img-name">
                <div class="profile-picture">
                    {% if user.profile.profile_picture %}
                        <div class="profile-picture">
                            <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture">
                        </div>
                    {% else %}
                        <div class="profile-picture">
                            <img src="{% static 'images/anon-user.webp' %}" alt="">
                        </div>
                    {% endif %}
                </div>
                {% if user.profile.first_name %}
                    <div class="profile-name">{{ user.profile.first_name }}</div>
                {% else %}
                    <div class="profile-name">{{ user.username }}</div>
                {% endif %}
            </div>

            <div class="profile-buttons">
                {% if user == request.user or request.user.is_staff %}
                    <a href="{% url 'profile-edit' user.slug %}">
                        <div class="profile-edit">Edit Profile</div>
                    </a>
                {% endif %}
                {% if user == request.user or request.user.is_superuser %}
                    <a href="{% url 'profile-delete' user.slug %}">
                        <div class="profile-delete">Delete Profile</div>
                    </a>
                {% endif %}
            </div>

        </div>
        <div class="log-counter">
            <div class="total-logs-number">{{ user_logs|length }}</div>
            <div class="total-logs-caption">Total logs</div>
        </div>
        <h2>User logs</h2>
        {% for log in user_logs %}
            <div class="profile-logs-container">
                <a href="{% url "game-detail" log.game.slug %}">
                    <img
                            class="profile-log-img"
                            src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ log.game.cover_id }}.jpg"
                            alt="Game cover"
                    />
                </a>
                <div class="profile-log-details">

                    <div>
                        <a href="{% url "game-detail" log.game.slug %}"
                           class="profile-log-game-name">{{ log.game.name }}</a>
                        logged on
                        <span class="profile-log-date">{{ log.date_posted }}</span>
                        <p class="review-rating">{{ log.rating|rating_stars }}</p>
                    </div>
                    {% if log.review_text %}
                        <p>" {{ log.review_text }} "</p>
                    {% endif %}
                    <div class="profile-log-content">
                    </div>
                    <div class="profile-log-options">
                        <div class="profile-log-likes-comments">
                            <div class="profile-log-likes">
                                <a href="{% url 'like' log.id %}">
                                    {% if log.like_set.all %}
                                        <i class="fa-solid fa-heart fa-sm fa-col liked"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart fa-sm"></i>
                                    {% endif %}
                                    {% if log.like_set.all|length != 1 %}
                                        <p>{{ log.like_set.all|length }} likes</p>
                                    {% else %}
                                        <p>{{ log.like_set.all|length }} like</p>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="profile-log-comments">
                                <a href="{% url 'log-details' log.game.slug log.id %}">
                                    <i class="fa-solid fa-comment fa-sm"></i>
                                    <p>{{ log.comment_set.all|length }} Comments</p>
                                </a>
                            </div>
                        </div>
                        <a href="{% url "log-details" log.game.slug log.id %}">Open Log</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
